.headshot{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

body, h1{
  font-family: 'Roboto', sans-serif;
}

h1{
  display: inline-block;
}

.logo{
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: text-bottom;
}
ol li{
  list-style-type: none;
}

li{
  margin: 10px 0;
}

a{
  color: black;
}
