.headshot{
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

.logo{
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: text-bottom;
}

a{
  color: black;
}
