.headshot{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

body, h1{
  font-family: 'Roboto', sans-serif;
}

h1{
  display: inline-block;
}

.logo{
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: text-bottom;
}

.emoji{
  height: 20px;
  width: 20px;
  padding-left: 3px;
  display: inline-block;
  vertical-align: text-bottom;
}

ol li{
  list-style-type: none;
}

li{
  margin: 10px 0;
}

.blurb a{
  color: black;
  font-style: oblique;
}

a{
  color: black;
}
